# 1 rename this file to prod.env and fill in the values
# 2 add file to gitignore
# service configuration
TEST_USERNAME=evolution-25
TEST_PASSWORD=dN2yKwZv
URL=https://fe-delivery.tallinn-learning.ee/signin
BACKEND_URL=https://backend.tallinn-learning.ee/